{:aliases
 {:cljs-prod
  {:extra-deps {funcool/promesa {:mvn/version "10.0.594"}}
   :extra-paths ["src/cljs" "src/js"]}

  :cljs-dev
  {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.9"}}}

  :clj-prod
  {:extra-deps {org.clojars.cartesiantheatrics/manifold3d {:mvn/version "1.0"}}
   :extra-paths ["src/cljc" "src/clj"]}

  :clj-dev
  {:extra-deps {badigeon/badigeon {:mvn/version "1.7"}}
   :extra-paths ["build" "test/cljc"]}

  :clj-deploy
  {:main-opts   ["-m" "deploy"]}}}
