{:paths ["src/cljc" "src/clj"]
 :aliases
 {:cljs-prod
  {:extra-deps {funcool/promesa {:mvn/version "10.0.594"}}
   :extra-paths ["src/cljs" "src/js"]}

  :cljs-dev
  {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.9"}}}

  :clj-dev
  {:extra-deps {badigeon/badigeon {:mvn/version "1.7"}
                org.clojars.cartesiantheatrics/manifold3d$linux-cuda-x86_64 {:mvn/version "1.0.72"}}
   :extra-paths ["build" "test/cljc" "examples/"]}

  :clj-deploy
  {:main-opts   ["-m" "deploy"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.0"}}}}}
