{:paths ["src/cljc" "src/clj"]
 :aliases
 {:cljs-prod
  {:extra-deps {funcool/promesa {:mvn/version "10.0.594"}}
   :extra-paths ["src/cljs" "src/js"]}

  :cljs-dev
  {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.9"}}}

  :clj-dev
  {:extra-deps {badigeon/badigeon {:mvn/version "1.7"}
                org.clojars.cartesiantheatrics/manifold3d$linux-x86_64 {:mvn/version "1.0.86"}
                jme-clj/jme-clj {:mvn/version "0.1.13"}
                com.github.stephengold/Heart {:mvn/version "9.1.0"}
                }
   :extra-paths ["build" "test/cljc" "examples/" "resources" "asset"]}

  :clj-test {:extra-paths ["test/cljc"]
             :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                           org.clojure/clojure {:mvn/version "1.11.2"}}
             :main-opts   ["-m" "kaocha.runner"]}

  :clj-deploy
  {:main-opts   ["-m" "deploy"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.0"}}}}}
